/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  :root{

    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);

    --fs-100: 1rem;
    --fs-150: 1.125rem; 

    --font-family: "Kumbh Sans", sans-serif;

    --fw-black: 400;
    --fw-bold: 700;

  }

  li{
   list-style: none;
  }

  body{
    font-family: var(--font-family);
    font-size: var(--fs-150);

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background-color: var(--dark-cyan);

    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: -40px -400px, 105% 430px

    
  }

  article{
    
    border-radius: 1rem;
    border: 1px solid black;
    padding-bottom: 1rem;
    background-color: white;
  }

  .header{
    background-image: url(images/bg-pattern-card.svg);
    width: 375px;
    height: 150px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
   

  }
   .profile-card{
    text-align: center;
    padding-bottom: 1.5rem;
    border-bottom: 0.5px solid var(--dark-gray);
    margin-bottom: 1rem;
   }

  .profile-image{
    border-radius: 50%;
    border: 5px solid white;
    margin: auto;
    margin-top: -3.2rem;

    margin-bottom: 1.5rem;
  }

  .profile-details{
    text-align: center;
    padding-left: 10px;
  }

  .profile-name{
    font-weight: var(--fw-bold);
    margin-bottom: 0.4rem;
 
  }
  .profile-age{
    color:var(--dark-grayish-blue);
    font-weight: 600;
    
  }
  .profile-location{
    color:var(--dark-grayish-blue);
   font-size: 13px;
    margin: 0 auto;
  }

  .card-stats{
    display: flex;
    justify-content: center;
    gap: 4rem;
    
    padding:0;
  }

  .value{
    display: flex;
    flex-direction: column;
    align-items: center;

    font-weight: var(--fw-bold);
   
  }

  .card-stats li p{
    font-weight: var(--fw-bold);
    font-size: 9px;
 
    color: var(--dark-grayish-blue);
    font-weight: 400;
    letter-spacing: 2px;
   
  }

  